#ttt{
    height: 201px;
    width: 201px;
    display: flex;
    flex-direction: column;
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: black;
}
#i0{
    height: 65px;
    width: 201px;
    display: flex;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    border-style: solid;
}
#i1{
    height: 65px;
    width: 201px;
    display: flex;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    border-style: solid;
}
#i2{
    height: 65px;
    width: 201px;
    display: flex;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    border-style: solid;
}
.box{
    height: 65px;
    width: 65px;
    border-width: 0px 2px 0px 0px;
    border-color: black;
    border-style: solid;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: brown;
    background-color: aquamarine;

}
.j2{
    width: 67px;
}
#reset{
    height: 30px;
    width: 60px;
    font-size: 20px;
    border: 2px solid black;
}
